<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro UI -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
  </head>
  <body>
  <div class="container">
      <ul data-role="tabs" data-expand="sm">
          <li><a href="#_target_1"><b>Summary</b></a></li>
          % for row in enumerate(summary_rows):
          <li><a href="#_target_${row[0]+2}"> Rule: ${row[1]['rule'].replace("_", " ").title()}</a></li>
          % endfor
      </ul>

      <div class="border bd-default no-border-top p-2">
        <div id="_target_1">
            <h4>Test Name: ${title}</h4>
            <hr>
            <h5>Rules</h5>
            % for row in enumerate(summary_rows):
            <button class="button">
                <span class="ml-1">${row[1]['rule'].replace("_", " ").title()}</span>
                % if row[1]['status'] == True:
                <span class="badge inline bg-green fg-white">${row[1]['rows']}</span>
                % else:
                <span class="badge inline bg-red fg-white">${row[1]['rows']}</span>
                % endif
            </button>
            % endfor
        </div>


  </div>


    <!-- Metro UI -->
  <script src="https://cdn.metroui.org.ua/current/metro.js"></script>
  </body>
</html>